<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <h1>
            Movies to watch
          </h1>
          <p>Wanneer u een item verwijderd is dit niet direct zichtbaar, refresh hiervoor de pagina</p>
          <div class="moviePosters">
            <div class="moviePoster" *ngFor="let movie of movie_list" (click)="deleteMovie(movie.id);">
              <div class="posterItem">
                  <img src="https://image.tmdb.org/t/p/original/{{movie.posterPath}}">
                  <img class="deletePoster" src="assets/delete.png">
              </div>
                    
            </div>
          </div>
          <h1>
            Series to watch
          </h1>
          <p>Wanneer u een item verwijderd is dit niet direct zichtbaar, refresh hiervoor de pagina</p>
          <div class="moviePosters">
              <div class="moviePoster" *ngFor="let serie of serie_list" (click)="deleteSerie(serie.id)">
                  <div class="posterItem">
                      <img src="https://image.tmdb.org/t/p/original/{{serie.posterPath}}">
                      <img class="deletePoster" src="assets/delete.png">
                  </div>
              </div>
            
          </div>
          

        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>